.login{
    background-color: brown;
    width: 30%;
height: 420spx;
margin-left: 480px;
margin-top: 160px;
padding: 20px;
}

.login h1{
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
font-size: 40px;
}

.login input{

    width: 80%;
    margin-bottom: 20px;
    margin-left: 30px;
    height: 36px;
background-color: transparent;
border: 1px solid white;
}

.login input::placeholder{
    color: white;
    text-align: start;
padding-left: 10px;


}

.login button{
width: 150px;
height: 30px;
margin-left: 107.5px;
background-color: blanchedalmond;

}

.login p{

text-align: center;
color: white;
font-family: Arial, Helvetica, sans-serif;


}

.login p a{

    color: lightpink;
    text-decoration: none;
    
}
