.web{
    background-image: url(/Images/project\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40em;
}
.navi{
    display: flex;
/* background-color: antiquewhite; */
    padding: 35px;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 18%;
/* background-color: aqua; */
}

.links{
    width: 60%;
 /* background-color: brown; */
    text-align: center;
    /* font-size: 18px; */
    padding-top: 10px;
}

.links a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.btn{
/* background-color: blueviolet; */
    width: 22%;
    text-align: center;
    padding-top: 4px;
}

.btn button{
    background-color: transparent;
    height: 35px;
    width: 75px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
}

.hero{
    position: absolute;
    top: 12em;
    left: 4em;
    /* color: white; */
    /* text-align: center; */
}

.hero h1{
    color: white;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
}

.hero p{
    color: white;
    width: 460px;
    /* text-align: center; */
}

.hero button{
    background-color: transparent;
    height: 35px;
    color: white;
    border: 1px solid white;
    width: 120px;
    border-radius: 10px;
    margin-right: 30px;
    /* text-align: center; */
}

.line{
    position: absolute;
    top: 35em;
    color: white;

}
.line marquee{
    font-size: 22px;
    
}